<a href="https://colab.research.google.com/github/realhsujoseo/hello-world/blob/main/TakeHomeExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data and Social Media Analysis
## Unofficial midterm aka. take home exam for the pandas part of this course

Feel free to use any means available to you such as class notebooks, lecture vidoes, Google, StackOverFlow, online tutorials etc. The only thing I ask is that you do this yourself. This means not asking your programmer friend for help or posting a question from the exam on stackoverflow or similar.
Good luck!!!

1. Read in the ramen ratings file as a dataframe
2. set appropriate index and column names and print out an overview of the dataframe
3. Print a subset of the dataframe that only has the information of the brand of ramen and its score (hint: not groupby, or creation of new dataframe. How can we access specific rows or columns of data?)
5. Oh no, it seems the last column is full of null values. Convert these to NaN.
4. Display only the rows where the brand is Nissin and the rating is above 3.5 (some data type conversion might be necessary)

6. Group the ramen by brand and calculate the mean, max, and min values in a single output.

7. What is the mode rating for all ramen?
8. Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? Which has the highest average?
8. How many different brands of ramen are included in the dataset?

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Ans1
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/DATA/ramen-ratings.csv',index_col = 0)
df.head()

                   Brand  ... Top Ten
Review #                  ...
2580           New Touch  ...     NaN
2579            Just Way  ...     NaN
2578              Nissin  ...     NaN
2577             Wei Lih  ...     NaN
2576      Ching's Secret  ...     NaN

[5 rows x 6 columns]

In [ ]:
#Ans2
New_df= df.rename(columns={'Top Ten': 'Top10', 'Stars':'Score'})
New_df.head()

                   Brand  ... Top10
Review #                  ...
2580           New Touch  ...   NaN
2579            Just Way  ...   NaN
2578              Nissin  ...   NaN
2577             Wei Lih  ...   NaN
2576      Ching's Secret  ...   NaN

[5 rows x 6 columns]

In [ ]:
New_df

                   Brand  ... Top10
Review #                  ...
2580           New Touch  ...   NaN
2579            Just Way  ...   NaN
2578              Nissin  ...   NaN
2577             Wei Lih  ...   NaN
2576      Ching's Secret  ...   NaN
...                  ...  ...   ...
5                  Vifon  ...   NaN
4                Wai Wai  ...   NaN
3                Wai Wai  ...   NaN
2                Wai Wai  ...   NaN
1               Westbrae  ...   NaN

[2580 rows x 6 columns]

In [ ]:
#Ans3
New_df.loc[:,("Brand","Score")]

                   Brand Score
Review #
2580           New Touch  3.75
2579            Just Way     1
2578              Nissin  2.25
2577             Wei Lih  2.75
2576      Ching's Secret  3.75
...                  ...   ...
5                  Vifon   3.5
4                Wai Wai     1
3                Wai Wai     2
2                Wai Wai     2
1               Westbrae   0.5

[2580 rows x 2 columns]

In [ ]:
#An4
New_df["Top10"].fillna("NaN", inplace = True)
New_df.loc[:,"Top10"]

Review #
2580    NaN
2579    NaN
2578    NaN
2577    NaN
2576    NaN
       ...
5       NaN
4       NaN
3       NaN
2       NaN
1       NaN
Name: Top10, Length: 2580, dtype: object

In [ ]:
print(New_df.loc[(New_df["Top10"] != "NaN")].shape)
New_df.loc[(New_df["Top10"] != "NaN")]

(41, 6)

                     Brand  ...     Top10
Review #                    ...
1964                  MAMA  ...  2016 #10
1947           Prima Taste  ...   2016 #1
1925                 Prima  ...   2016 #8
1907           Prima Taste  ...   2016 #5
1828         Tseng Noodles  ...   2016 #9
1689          Wugudaochang  ...   2016 #7
1638      A-Sha Dry Noodle  ...  2015 #10
1617               MyKuali  ...   2015 #7
1585                CarJEN  ...   2015 #4
1521              Maruchan  ...   2015 #9
1508                 Mamee  ...   2015 #6
1500               MyKuali  ...   2015 #1
1471                  Mama  ...  2013 #10
1466                  Mama  ...   2015 #8
1350                 Mamee  ...   2014 #7
1330       Sapporo Ichiban  ...   2014 #4
1308              Nongshim  ...   2014 #9
1302                  Mama  ...  2014 #10
1271           Prima Taste  ...   2014 #8
1198         Samyang Foods  ...   2014 #5
1183                 Paldo  ...   2014 #6
1087               MyKuali  ...   2014 #1
992            Prima Taste  ...   2013 #1
991            Prima Taste  ...   2013 #2
934               Nongshim  ...   2013 #4
910                  Paldo  ...        \n
823                  Paldo  ...   2013 #9
734                Indomie  ...        \n
715                Indomie  ...   2013 #3
608                   Koka  ...  2012 #10
578               Nongshim  ...   2012 #7
434              Mi Sedaap  ...   2012 #5
392                 Nissin  ...   2012 #3
391                  Myojo  ...   2012 #6
332               Nongshim  ...        \n
285                   Doll  ...   2012 #9
105                Indomie  ...   2012 #1
47                 Indomie  ...   2012 #2
45                 Indomie  ...        \n
31                   Myojo  ...   2013 #6
13         Sapporo Ichiban  ...   2012 #4

[41 rows x 6 columns]

In [ ]:
import re
New_df["Top10"] = New_df["Top10"].str.replace(r'\n','NaN')
print(New_df.loc[(New_df["Top10"] != "NaN")].shape)
New_df.loc[(New_df["Top10"] != "NaN")]

(37, 6)

                     Brand  ...     Top10
Review #                    ...
1964                  MAMA  ...  2016 #10
1947           Prima Taste  ...   2016 #1
1925                 Prima  ...   2016 #8
1907           Prima Taste  ...   2016 #5
1828         Tseng Noodles  ...   2016 #9
1689          Wugudaochang  ...   2016 #7
1638      A-Sha Dry Noodle  ...  2015 #10
1617               MyKuali  ...   2015 #7
1585                CarJEN  ...   2015 #4
1521              Maruchan  ...   2015 #9
1508                 Mamee  ...   2015 #6
1500               MyKuali  ...   2015 #1
1471                  Mama  ...  2013 #10
1466                  Mama  ...   2015 #8
1350                 Mamee  ...   2014 #7
1330       Sapporo Ichiban  ...   2014 #4
1308              Nongshim  ...   2014 #9
1302                  Mama  ...  2014 #10
1271           Prima Taste  ...   2014 #8
1198         Samyang Foods  ...   2014 #5
1183                 Paldo  ...   2014 #6
1087               MyKuali  ...   2014 #1
992            Prima Taste  ...   2013 #1
991            Prima Taste  ...   2013 #2
934               Nongshim  ...   2013 #4
823                  Paldo  ...   2013 #9
715                Indomie  ...   2013 #3
608                   Koka  ...  2012 #10
578               Nongshim  ...   2012 #7
434              Mi Sedaap  ...   2012 #5
392                 Nissin  ...   2012 #3
391                  Myojo  ...   2012 #6
285                   Doll  ...   2012 #9
105                Indomie  ...   2012 #1
47                 Indomie  ...   2012 #2
31                   Myojo  ...   2013 #6
13         Sapporo Ichiban  ...   2012 #4

[37 rows x 6 columns]

In [ ]:
#Ans5
New_df['Score'] = pd.to_numeric(New_df['Score'],errors = 'coerce')
Nissin_high_score = New_df.loc[(New_df['Brand']== 'Nissin') & (New_df['Score']>3.5)]
Nissin_high_score.head()

           Brand  ... Top10
Review #          ...
2567      Nissin  ...   NaN
2566      Nissin  ...   NaN
2560      Nissin  ...   NaN
2553      Nissin  ...   NaN
2549      Nissin  ...   NaN

[5 rows x 6 columns]

In [ ]:
#Ans6
groupby_df = New_df.groupby('Brand').Score.agg([min,max,np.mean])
groupby_df.head()

                   min  max      mean
Brand
1 To 3 Noodles    4.00  4.0  4.000000
7 Select          3.50  4.0  3.750000
7 Select/Nissin   3.50  3.5  3.500000
A-One             1.25  3.5  2.750000
A-Sha Dry Noodle  2.00  5.0  4.067308

In [ ]:
#Ans7
New_df['Score'].mode()

0    4.0
dtype: float64

In [ ]:
#Ans8
groupby_df2 =  New_df.groupby(['Brand','Variety']).Score.agg([np.mean])
groupby_df2

                                                                    mean
Brand           Variety
1 To 3 Noodles  Chatpat Masala                                      4.00
7 Select        Nissin Instant Noodles Shrimp Ma Nao Lui Suan F...  4.00
                Nissin Instant Noodles Tom Yum Seafood Creamy F...  3.50
7 Select/Nissin Super Tom Yum Shrimp                                3.50
A-One           Mi Ly Instant Noodles Mi Bo Beef Flavor             3.50
...                                                                  ...
iMee            Instant Noodles Creamy Tom Yum Shrimp Flavour       4.50
                Instant Noodles Vegetable Flavour                   2.75
                Instant Noodles chicken Flavour                     3.50
iNoodle         Taiwan Style Chow Mein                              2.25
                Udon Noodle Soup Oriental                           3.75

[2520 rows x 1 columns]

In [ ]:
groupby_df2.sort_values('mean', ascending= False)
#Mi Goreng Jumbo Beef from Indomie has the highest average.

                                                     mean
Brand         Variety
Indomie       Mi Goreng Jumbo Beef                    5.0
Sun Noodle    Ramen Miso Flavor                       5.0
Samyang Foods Nagasaki Crab Jjampong                  5.0
Dream Kitchen Curry Flavour Instant Noodles           5.0
Nissin        Raoh Rich Miso Flavor                   5.0
...                                                   ...
Samyang Foods Honey & Cheese Big Bowl                 0.0
Uni-President Mushroom Flavor                         0.0
Mi E-Zee      Plain Noodles                           NaN
Ottogi        Plain Instant Noodle No Soup Included   NaN
Samyang Foods Sari Ramen                              NaN

[2520 rows x 1 columns]

In [ ]:
#Ans9 
groupby_df.count()

min     355
max     355
mean    355
dtype: int64

link of this notebook: https://colab.research.google.com/drive/1QI_ES5BLN5Ffh3mNuufHb_I7V6DV5H8E?usp=sharing